name: CI
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run tests with pytest and generate allure results
        env:
          ENV: ci
        run: |
          pytest --alluredir=allure-results
      - name: Publish allure results
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: allure-results
      - name: Generate pytest-html report
        run: |
          pytest --html=report.html --self-contained-html
      - name: Upload HTML report
        uses: actions/upload-artifact@v4
        with:
          name: pytest-html-report
          path: report.html